/* Estilos para la vista Blog */
.seccionblog {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.seccionblog h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

article {
    background: #53bac4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
}

footer {
    background: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}